In [2]:
import pandas as pd

metadata = "metadata.csv"
df_meta = pd.read_csv(metadata)
# add file_path
df_meta["file_path"] = "/data/era5/agg/2m_temperature/" + df_meta["file_name"]
# drop file_name
df_meta = df_meta.drop(columns=["file_name"])
# rename columns
df_meta = df_meta.rename(
    columns={
        "max_lat_N": "max_lat",
        "min_lat_S": "min_lat",
        "max_long_E": "max_lon",
        "min_long_W": "min_lon",
        "start_time": "start_datetime",
        "end_time": "end_datetime",
        "temporal_agg_type": "temporal_aggregation",
        "spatial_agg_type": "spatial_aggregation",
    }
)
# change literal conversion
df_meta["temporal_resolution"] = df_meta["temporal_resolution"].map(
    {"H": "hour", "D": "day", "M": "month", "Y": "year", "1H": "hour", "1D": "day", "1ME": "month", "1YE": "year"}
)
# new aggregation columns
df_meta["aggregation"] = df_meta["temporal_aggregation"]
# drop min, max, file_size columns
df_meta = df_meta.drop(columns=["min", "max", "file_size"])
# drop temporal_aggregationm spatial_aggregation columns
df_meta = df_meta.drop(columns=["temporal_aggregation", "spatial_aggregation"])

df_meta

,variable,max_lat,min_lat,max_lon,min_lon,start_datetime,end_datetime,temporal_resolution,spatial_resolution,file_path,aggregation
0,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,day,0.25,/data/era5/agg/2m_temperature/2m_temperature-d...,max
1,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,day,0.50,/data/era5/agg/2m_temperature/2m_temperature-d...,max
2,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,day,1.00,/data/era5/agg/2m_temperature/2m_temperature-d...,max
3,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,day,0.25,/data/era5/agg/2m_temperature/2m_temperature-d...,mean
4,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,day,0.50,/data/era5/agg/2m_temperature/2m_temperature-d...,mean
5,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,day,1.00,/data/era5/agg/2m_temperature/2m_temperature-d...,mean
6,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,day,0.25,/data/era5/agg/2m_temperature/2m_temperature-d...,min
7,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,day,0.50,/data/era5/agg/2m_temperature/2m_temperature-d...,min
8,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,day,1.00,/data/era5/agg/2m_temperature/2m_temperature-d...,min
9,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,month,0.25,/data/era5/agg/2m_temperature/2m_temperature-m...,max
10,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,month,0.50,/data/era5/agg/2m_temperature/2m_temperature-m...,max
11,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,month,1.00,/data/era5/agg/2m_temperature/2m_temperature-m...,max
12,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,month,0.25,/data/era5/agg/2m_temperature/2m_temperature-m...,mean
13,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,month,0.50,/data/era5/agg/2m_temperature/2m_temperature-m...,mean
14,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,month,1.00,/data/era5/agg/2m_temperature/2m_temperature-m...,mean
15,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,month,0.25,/data/era5/agg/2m_temperature/2m_temperature-m...,min
16,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,month,0.50,/data/era5/agg/2m_temperature/2m_temperature-m...,min
17,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,month,1.00,/data/era5/agg/2m_temperature/2m_temperature-m...,min
18,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,year,0.25,/data/era5/agg/2m_temperature/2m_temperature-y...,max
19,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,year,0.50,/data/era5/agg/2m_temperature/2m_temperature-y...,max
20,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,year,1.00,/data/era5/agg/2m_temperature/2m_temperature-y...,max
21,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,year,0.25,/data/era5/agg/2m_temperature/2m_temperature-y...,mean
22,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,year,0.50,/data/era5/agg/2m_temperature/2m_temperature-y...,mean
23,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,year,1.00,/data/era5/agg/2m_temperature/2m_temperature-y...,mean
24,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,year,0.25,/data/era5/agg/2m_temperature/2m_temperature-y...,min
25,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,year,0.50,/data/era5/agg/2m_temperature/2m_temperature-y...,min
26,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,year,1.00,/data/era5/agg/2m_temperature/2m_temperature-y...,min

In [3]:
variable = "2m_temperature"
max_lat = 90
min_lat = -90
max_lon = 180
min_lon = -180
temporal_resolution = "hour"
temporal_aggregation = "none"
spatial_resolution = "0.25"
spatial_aggregation = "none"
aggregation = "none"
file_pre = "/data/era5/raw/2m_temperature/2m_temperature-"

# add raw data
row_data = []
for year in range(1984, 2024):
    row_data.append(
        {
            "variable": variable,
            "max_lat": max_lat,
            "min_lat": min_lat,
            "max_lon": max_lon,
            "min_lon": min_lon,
            "start_datetime": f"{year}-01-01T00:00",
            "end_datetime": f"{year}-12-31T23:00",
            "temporal_resolution": temporal_resolution,
            "spatial_resolution": spatial_resolution,
            "aggregation": aggregation,
            "file_path": f"{file_pre}{year}.nc",
        }
    )

df_raw = pd.DataFrame(row_data)
df_raw

,variable,max_lat,min_lat,max_lon,min_lon,start_datetime,end_datetime,temporal_resolution,spatial_resolution,aggregation,file_path
0,2m_temperature,90,-90,180,-180,1984-01-01T00:00,1984-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-1...
1,2m_temperature,90,-90,180,-180,1985-01-01T00:00,1985-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-1...
2,2m_temperature,90,-90,180,-180,1986-01-01T00:00,1986-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-1...
3,2m_temperature,90,-90,180,-180,1987-01-01T00:00,1987-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-1...
4,2m_temperature,90,-90,180,-180,1988-01-01T00:00,1988-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-1...
5,2m_temperature,90,-90,180,-180,1989-01-01T00:00,1989-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-1...
6,2m_temperature,90,-90,180,-180,1990-01-01T00:00,1990-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-1...
7,2m_temperature,90,-90,180,-180,1991-01-01T00:00,1991-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-1...
8,2m_temperature,90,-90,180,-180,1992-01-01T00:00,1992-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-1...
9,2m_temperature,90,-90,180,-180,1993-01-01T00:00,1993-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-1...
10,2m_temperature,90,-90,180,-180,1994-01-01T00:00,1994-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-1...
11,2m_temperature,90,-90,180,-180,1995-01-01T00:00,1995-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-1...
12,2m_temperature,90,-90,180,-180,1996-01-01T00:00,1996-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-1...
13,2m_temperature,90,-90,180,-180,1997-01-01T00:00,1997-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-1...
14,2m_temperature,90,-90,180,-180,1998-01-01T00:00,1998-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-1...
15,2m_temperature,90,-90,180,-180,1999-01-01T00:00,1999-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-1...
16,2m_temperature,90,-90,180,-180,2000-01-01T00:00,2000-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
17,2m_temperature,90,-90,180,-180,2001-01-01T00:00,2001-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
18,2m_temperature,90,-90,180,-180,2002-01-01T00:00,2002-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
19,2m_temperature,90,-90,180,-180,2003-01-01T00:00,2003-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
20,2m_temperature,90,-90,180,-180,2004-01-01T00:00,2004-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
21,2m_temperature,90,-90,180,-180,2005-01-01T00:00,2005-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
22,2m_temperature,90,-90,180,-180,2006-01-01T00:00,2006-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
23,2m_temperature,90,-90,180,-180,2007-01-01T00:00,2007-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
24,2m_temperature,90,-90,180,-180,2008-01-01T00:00,2008-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
25,2m_temperature,90,-90,180,-180,2009-01-01T00:00,2009-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
26,2m_temperature,90,-90,180,-180,2010-01-01T00:00,2010-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
27,2m_temperature,90,-90,180,-180,2011-01-01T00:00,2011-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
28,2m_temperature,90,-90,180,-180,2012-01-01T00:00,2012-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
29,2m_temperature,90,-90,180,-180,2013-01-01T00:00,2013-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
30,2m_temperature,90,-90,180,-180,2014-01-01T00:00,2014-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
31,2m_temperature,90,-90,180,-180,2015-01-01T00:00,2015-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
32,2m_temperature,90,-90,180,-180,2016-01-01T00:00,2016-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
33,2m_temperature,90,-90,180,-180,2017-01-01T00:00,2017-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
34,2m_temperature,90,-90,180,-180,2018-01-01T00:00,2018-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
35,2m_temperature,90,-90,180,-180,2019-01-01T00:00,2019-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
36,2m_temperature,90,-90,180,-180,2020-01-01T00:00,2020-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
37,2m_temperature,90,-90,180,-180,2021-01-01T00:00,2021-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
38,2m_temperature,90,-90,180,-180,2022-01-01T00:00,2022-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
39,2m_temperature,90,-90,180,-180,2023-01-01T00:00,2023-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...

In [4]:
df_all = pd.concat([df_meta, df_raw], ignore_index=True)
# reorder columns
df_all = df_all[
    [
        "variable",
        "max_lat",
        "min_lat",
        "max_lon",
        "min_lon",
        "start_datetime",
        "end_datetime",
        "temporal_resolution",
        "spatial_resolution",
        "aggregation",
        "file_path",
    ]
]
df_all

,variable,max_lat,min_lat,max_lon,min_lon,start_datetime,end_datetime,temporal_resolution,spatial_resolution,aggregation,file_path
0,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,day,0.25,max,/data/era5/agg/2m_temperature/2m_temperature-d...
1,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,day,0.5,max,/data/era5/agg/2m_temperature/2m_temperature-d...
2,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,day,1.0,max,/data/era5/agg/2m_temperature/2m_temperature-d...
3,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,day,0.25,mean,/data/era5/agg/2m_temperature/2m_temperature-d...
4,2m_temperature,90,-90,180,-180,1984-01-01T00:00,2023-12-31T23:00,day,0.5,mean,/data/era5/agg/2m_temperature/2m_temperature-d...
...,...,...,...,...,...,...,...,...,...,...,...
62,2m_temperature,90,-90,180,-180,2019-01-01T00:00,2019-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
63,2m_temperature,90,-90,180,-180,2020-01-01T00:00,2020-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
64,2m_temperature,90,-90,180,-180,2021-01-01T00:00,2021-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
65,2m_temperature,90,-90,180,-180,2022-01-01T00:00,2022-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...
66,2m_temperature,90,-90,180,-180,2023-01-01T00:00,2023-12-31T23:00,hour,0.25,none,/data/era5/raw/2m_temperature/2m_temperature-2...

In [5]:
# output
df_all.to_csv("metadata_post.csv", index=False)